annotated-types @ file:///C:/ProgramData/Miniconda3/conda-bld/annotated-types_1697817727292/work
anyio @ file:///C:/ci_311/anyio_1676425491996/work/dist
anywidget @ file:///C:/ProgramData/Miniconda3/conda-bld/anywidget_1720630599179/work
appdirs==1.4.4
arcgis==2.4.0
arcgis-mapping @ file:///usr/share/miniconda/conda-bld/arcgis-mapping_1727781594440/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci_311/argon2-cffi-bindings_1676424443321/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///opt/homebrew/Caskroom/miniconda/base/conda-bld/async-lru_1698408937664/work
attrs @ file:///C:/b/abs_35n0jusce8/croot/attrs_1695717880170/work
azure-core @ file:///C:/bin/miniconda_4.3.21_x64/conda-bld/azure-core_1615482738248/work
azure-storage-blob @ file:///C:/bin/miniconda_4.3.21_x64/conda-bld/azure-storage-blob_1615483038755/work
Babel==2.11.0
beautifulsoup4 @ file:///C:/b/abs_d5wytg_p0w/croot/beautifulsoup4-split_1718029833749/work
black @ file:///C:/ProgramData/Miniconda3/conda-bld/black-suite_1698942249168/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker @ file:///C:/b/abs_d9y2dm7cw2/croot/blinker_1696539752170/work
Bottleneck @ file:///C:/b/abs_f05kqh7yvj/croot/bottleneck_1707864273291/work
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
cachetools @ file:///C:/b/abs_792zbtc0ua/croot/cachetools_1713977157919/work
certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
cffi @ file:///C:/b/abs_78eb1_vq6z/croot/cffi_1714483206096/work
cftime @ file:///C:/ProgramData/Miniconda3/conda-bld/cftime_1700530429328/work
chardet @ file:///C:/ci_311/chardet_1676436134885/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
cloudpickle @ file:///C:/b/abs_8abv3sva4p/croot/cloudpickle_1721657372632/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
comm @ file:///C:/ProgramData/Miniconda3/conda-bld/comm_1724356042054/work
contourpy @ file:///C:/b/abs_853rfy8zse/croot/contourpy_1700583617587/work
cryptography @ file:///C:/conda/conda-bld/cryptography-split_1727232415600/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz @ file:///C:/b/abs_d43s8lnb60/croot/cytoolz_1701723636699/work
dask @ file:///C:/ProgramData/Miniconda3/conda-bld/dask-core_1725916559667/work
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
distributed @ file:///C:/ProgramData/Miniconda3/conda-bld/distributed_1685421130528/work
entrypoints @ file:///C:/ci_311/entrypoints_1676423328987/work
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1661724178959/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///C:/ci_311/python-fastjsonschema_1679500568724/work
flake8 @ file:///C:/b/abs_caud66drfv/croot/flake8_1708965316778/work
fonttools @ file:///C:/b/abs_f47gnfqnx0/croot/fonttools_1713551644747/work
fsspec @ file:///C:/b/abs_02vh2bpxfo/croot/fsspec_1724855601370/work
future==0.18.3
geomet @ file:///C:/conda/conda-bld/geomet_1668449034146/work
greenlet @ file:///C:/b/abs_a6c75ie0bc/croot/greenlet_1702060012174/work
gssapi @ file:///C:/conda/conda-bld/python-gssapi_1723785260613/work
h11 @ file:///C:/b/abs_1czwoyexjf/croot/h11_1706652332846/work
h5py @ file:///P:/h5py
httpcore @ file:///C:/b/abs_55n7g233bw/croot/httpcore_1706728507241/work
httpx @ file:///C:/b/abs_43e135shby/croot/httpx_1723474830126/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
importlib-metadata @ file:///C:/b/abs_c1egths604/croot/importlib_metadata-suite_1704813568388/work
importlib_resources @ file:///C:/b/abs_e9f8_0_2dq/croot/importlib_resources-suite_1720641112288/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipykernel @ file:///C:/ProgramData/Miniconda3/conda-bld/ipykernel_1724690977246/work
ipython @ file:///C:/conda/conda-bld/ipython_1726108214814/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///C:/ProgramData/Miniconda3/conda-bld/ipywidgets_1724358571455/work
isodate @ file:///C:/bin/miniconda_4.3.21_x64/conda-bld/isodate_1615438109370/work
jdcal @ file:///Users/ktietz/demo/mc3/conda-bld/jdcal_1630584345063/work
jedi @ file:///C:/conda/conda-bld/jedi_1686919188697/work
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
json5 @ file:///C:/ProgramData/Miniconda3/conda-bld/json5_1724358933639/work
jsonschema @ file:///C:/b/abs_d1c4sm8drk/croot/jsonschema_1699041668863/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter-console @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyter_console_1704479057389/work
jupyter-events @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyter_events_1724362073497/work
jupyter-lsp @ file:///opt/homebrew/Caskroom/miniconda/base/conda-bld/jupyter-lsp_1698409208182/work
jupyter_client @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyter_client_1703282184287/work
jupyter_core @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyter_core_1703272740095/work
jupyter_server @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyter_server_1725665147132/work
jupyter_server_terminals @ file:///C:/b/abs_ec0dq4b50j/croot/jupyter_server_terminals_1686870763512/work
jupyterlab @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyterlab_1724364623690/work
jupyterlab-widgets @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyterlab_widgets_1724365202338/work
jupyterlab_pygments @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyterlab_pygments_1704407501601/work
jupyterlab_server @ file:///C:/ProgramData/Miniconda3/conda-bld/jupyterlab_server_1724363706016/work
keyring @ file:///C:/ProgramData/Miniconda3/conda-bld/keyring_1700668160653/work
kiwisolver @ file:///C:/ci_311/kiwisolver_1676431979301/work
locket @ file:///C:/ci_311/locket_1676428325082/work
lxml @ file:///C:/conda/conda-bld/lxml_1724125321152/work
lz4 @ file:///C:/b/abs_064u6aszy3/croot/lz4_1686057967376/work
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib @ file:///C:/ProgramData/Miniconda3/conda-bld/matplotlib-suite_1706283048801/work
matplotlib-inline @ file:///C:/ci_311/matplotlib-inline_1676425798036/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mistune @ file:///C:/ci_311/mistune_1676425111783/work
mkl-fft @ file:///C:/ProgramData/Miniconda3/conda-bld/mkl_fft_1725821919461/work
mkl-random @ file:///C:/ProgramData/Miniconda3/conda-bld/mkl_random_1725822642792/work
mkl-service==2.4.1
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msgpack @ file:///C:/ci_311/msgpack-python_1676427482892/work
msrest @ file:///C:/bin/miniconda_4.3.21_x64/conda-bld/msrest_1615480661627/work
mypy-extensions @ file:///C:/b/abs_8f7xiidjya/croot/mypy_extensions_1695131051147/work
nbclassic @ file:///C:/conda/conda-bld/nbclassic_1725646022600/work
nbclient @ file:///C:/ProgramData/Miniconda3/conda-bld/nbclient_1704316172829/work
nbconvert @ file:///C:/ProgramData/Miniconda3/conda-bld/nbconvert_1724387832235/work
nbformat @ file:///C:/ProgramData/Miniconda3/conda-bld/nbformat_1724369662337/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
netCDF4 @ file:///C:/conda/conda-bld/netcdf4_1709266434171/work
networkx @ file:///C:/b/abs_36fmumtynt/croot/networkx_1720002497414/work
nose @ file:///opt/conda/conda-bld/nose_1642704612149/work
notebook @ file:///C:/ProgramData/Miniconda3/conda-bld/notebook_1729092461145/work
notebook_shim @ file:///C:/ProgramData/Miniconda3/conda-bld/notebook-shim_1724387267044/work
numexpr @ file:///C:/ProgramData/Miniconda3/conda-bld/numexpr_1686674945615/work
numpy @ file:///C:/conda-build/numpy_suite_1686348657980/work
oauthlib @ file:///C:/ProgramData/Miniconda3/conda-bld/oauthlib_1700522646422/work
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
openpyxl @ file:///C:/b/abs_764brjadj1/croot/openpyxl_1714158895873/work
overrides @ file:///C:/b/abs_cfh89c8yf4/croot/overrides_1699371165349/work
packaging @ file:///C:/b/abs_c3vlh0z4jw/croot/packaging_1720101866539/work
pandas @ file:///C:/ProgramData/Miniconda3/conda-bld/pandas_1686717382258/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///C:/b/abs_46awex0fd7/croot/partd_1698702622970/work
pathspec @ file:///C:/ProgramData/Miniconda3/conda-bld/pathspec_1647983158332/work
patsy @ file:///C:/b/abs_21hy_wyj13/croot/patsy_1718378184379/work
pefile @ file:///home/conda/feedstock_root/build_artifacts/pefile_1653943763999/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow @ file:///C:/ProgramData/Miniconda3/conda-bld/pillow_1723155289332/work
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
pluggy @ file:///C:/ci_311/pluggy_1676422178143/work
pro_notebook_integration @ file:///C:/ProgramData/Miniconda3/conda-bld/pro_notebook_integration_1728054834288/work
prometheus-client @ file:///C:/ProgramData/Miniconda3/conda-bld/prometheus_client_1725664907537/work
prompt_toolkit @ file:///C:/ProgramData/Miniconda3/conda-bld/prompt-toolkit_1724387594358/work
protobuf @ file:///P:/protobuf/shared/x64/RelWithDebInfo/python
psutil @ file:///C:/ci_311_rebuilds/psutil_1679005906571/work
psygnal @ file:///C:/ProgramData/Miniconda3/conda-bld/psygnal_1715011011338/work
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
puremagic @ file:///C:/ProgramData/Miniconda3/conda-bld/puremagic_1699976227445/work
pycodestyle @ file:///C:/b/abs_15nuk0qkf0/croot/pycodestyle_1701821084299/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///C:/ProgramData/Miniconda3/conda-bld/pydantic_1697818061770/work
pydantic_core @ file:///C:/ProgramData/Miniconda3/conda-bld/pydantic-core_1697816665848/work
pyflakes @ file:///C:/b/abs_b6t1aazq2e/croot/pyflakes_1708963020907/work
Pygments @ file:///C:/ProgramData/Miniconda3/conda-bld/pygments_1724388102955/work
PyJWT @ file:///C:/Users/bri11091/conda-bld/pyjwt_1654010749687/work
pylerc @ file:///C:/Users/par97462/Anaconda3/conda-bld/pylerc_1695389238052/work
pyodbc @ file:///C:/b/abs_90kly0uuwz/croot/pyodbc_1705431396548/work
pyparsing @ file:///C:/b/abs_520r19rysg/croot/pyparsing_1725041656021/work
pypdf @ file:///C:/conda/conda-bld/pypdf_1727893565831/work
pyshp @ file:///C:/b/abs_09wbovc984/croot/pyshp_1706101001476/work
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
pyspnego @ file:///C:/conda/conda-bld/pyspnego_1727237360520/work
pytest @ file:///C:/ProgramData/Miniconda3/conda-bld/pytest_1700520176034/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-json-logger @ file:///C:/b/abs_cblnsm6puj/croot/python-json-logger_1683824130469/work
pytz==2022.6
pywin32-ctypes==0.2.0
pywinpty @ file:///C:/ci_311/pywinpty_1677707791185/work/target/wheels/pywinpty-2.0.10-cp311-none-win_amd64.whl
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
pyzmq @ file:///C:/conda/conda-bld/pyzmq_1725640709706/work
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
regex @ file:///C:/b/abs_d5e2e5uqmr/croot/regex_1696515472506/work
requests @ file:///C:/b/abs_474vaa3x9e/croot/requests_1707355619957/work
requests-gssapi @ file:///C:/Users/bri11091/conda-bld/requests-gssapi_1661274134539/work
requests-kerberos @ file:///C:/ProgramData/Miniconda3/conda-bld/requests-kerberos_1713814077105/work
requests-oauthlib @ file:///C:/b/abs_faw0a7_wag/croot/requests-oauthlib_1720615036938/work
requests-toolbelt @ file:///C:/conda/conda-bld/requests-toolbelt_1686940937914/work
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rpds-py @ file:///C:/b/abs_76j4g4la23/croot/rpds-py_1698947348047/work
ruamel.yaml @ file:///C:/ci_311/ruamel.yaml_1676439214109/work
saspy @ file:///C:/conda/conda-bld/saspy_1666039492050/work/saspy
scipy @ https://files.pythonhosted.org/packages/42/81/0a64d2204c3b261380ac96c6d61f018528108b62c0e21e6153a58cebf4f6/scipy-1.9.3-cp311-cp311-win_amd64.whl#sha256=06d2e1b4c491dc7d8eacea139a1b0b295f74e1a1a0f704c375028f8320d16e31
seaborn @ file:///C:/b/abs_ca2mi1rgmn/croot/seaborn_1718303534355/work
Send2Trash @ file:///C:/b/abs_08dh49ew26/croot/send2trash_1699371173324/work
six @ file:///opt/conda/conda-bld/six_1642687545475/work
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
SQLAlchemy @ file:///C:/ProgramData/Miniconda3/conda-bld/sqlalchemy_1723157191031/work
sspilib @ file:///C:/conda/conda-bld/sspilib_1727213847535/work
stack-data @ file:///C:/ProgramData/Miniconda3/conda-bld/stack_data_1665425585665/work
statsmodels @ file:///C:/b/abs_7bth810rna/croot/statsmodels_1689937298619/work
swat @ file:///C:/ProgramData/Anaconda3/conda-bld/swat_1693516828169/work
sympy==1.12
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
terminado @ file:///C:/ci_311/terminado_1678228513830/work
testpath @ file:///C:/conda/conda-bld/testpath_1642830520225/work
tinycss2 @ file:///C:/ProgramData/Miniconda3/conda-bld/tinycss2_1665680994900/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///C:/ci_311/tomli_1676422027483/work
toolz @ file:///C:/ci_311/toolz_1676431406517/work
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
tqdm @ file:///C:/b/abs_77wju137gk/croot/tqdm_1724853945787/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
truststore @ file:///C:/ProgramData/Miniconda3/conda-bld/truststore_1718135960165/work
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
ujson @ file:///C:/ci_311/ujson_1676434714224/work
unicodedata2 @ file:///C:/b/abs_b6apldlg7y/croot/unicodedata2_1713212998255/work
urllib3 @ file:///C:/b/abs_a7hvzm4y95/croot/urllib3_1718912661242/work
watchfiles @ file:///C:/b/abs_46ka9wqoov/croot/watchfiles_1700601334608/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
widgetsnbextension @ file:///C:/ProgramData/Miniconda3/conda-bld/widgetsnbextension_1724388309143/work
win-inet-pton @ file:///C:/ProgramData/Miniconda3/conda-bld/win_inet_pton_1700172330063/work
winkerberos @ file:///C:/ProgramData/Miniconda3/conda-bld/winkerberos_1700166464674/work
wrapt @ file:///C:/ci_311/wrapt_1676432805090/work
xarray @ file:///C:/b/abs_5bkjiynp4e/croot/xarray_1689041498548/work
xeus-python-shell @ file:///C:/ProgramData/Miniconda3/conda-bld/xeus-python-shell_1728401005487/work
xlrd @ file:///croot/xlrd_1685030938141/work
xlwt==1.3.0
zict @ file:///C:/ProgramData/Miniconda3/conda-bld/zict_1686085483563/work
zipp @ file:///C:/b/abs_b0beoc27oa/croot/zipp_1704206963359/work